{% extends "base.html" %}

{% block content %}
<div class="container my-5">
  <h2 class="pb-2 border-bottom">About</h2>

  {% for category, posts in categories.items() %}
    <h4 class="mt-4">{{ category }}</h4>
    <div class="row row-cols-1 row-cols-md-2 g-4 mt-1">
      {% for post in posts %}
      <div class="col">
        <div class="card shadow-sm">
          <div class="card-body">
            <h5 class="card-title">
              <a href="{{ url_for('about.read', idx=post.idx) }}" class="text-decoration-none" style="color: #007bff; font-size: 1.3rem;">
                {{ post.title }}
              </a>
            </h5>
            <p class="card-text" style="font-size: 0.95rem;">
              {{ post.content[:50] }}...
            </p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  {% endfor %}
  
  {% if session.get('role') == 'admin' %}
  <div class="d-flex justify-content-end mt-5">
    <a href="{{ url_for('about.write') }}" class="btn btn-info text-white">
      + Write Post
    </a>
  </div>
  {% endif %}
</div>
{% endblock %}
