{% extends "base.html" %}

{% block content %}
  <div class="container my-5">
    <h2 class="pb-2 border-bottom">Community Board</h2>

    <div class="row row-cols-1 g-4 mt-3">
      {% for post in posts %}
      <div class="col">
        <div class="card shadow-sm">
          <div class="card-body">
            <h5><a href="{{ url_for('board.read_post', idx=post.idx) }}" class="card-title">{{ post.title }}</a></h5>
            <p class="card-text">{{ post.content[:100] }}...</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
     <div class="d-flex justify-content-end mt-4">
      <a href="{{ url_for('board.write') }}" class="btn btn-info text-white">
        + Write Post
      </a>
    </div>
  </div>
{% endblock %}
