{% extends "base.html" %}

{% block content %}
  <div class="container my-5">
    <h2 class="pb-2 border-bottom">Community Board</h2>

    <div class="row row-cols-1 g-4 mt-3">
      {% for post in posts %}
      <div class="col">
        <div class="card shadow-sm">
          <div class="card-body">
            <h5 class="card-title">{{ post.title }}</h5>
            <p class="card-text">{{ post.content[:100] }}...</p>
            <a href="#" class="btn btn-sm btn-outline-primary">Read more</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
